In [1]:
import numpy as np
import pandas as pd

In [3]:
df_market = pd.read_csv('./data/marketdata_sample.csv')
df_news = pd.read_csv('./data/news_sample.csv')

In [6]:
len(df_market), len(df_news)

(100, 100)

In [4]:
df_market.head()

                        time assetCode           ...            returnsOpenPrevMktres10  returnsOpenNextMktres10
0  2007-02-01 22:00:00+00:00       A.N           ...                                NaN                 0.034672
1  2007-02-01 22:00:00+00:00     AAI.N           ...                                NaN                 0.027803
2  2007-02-01 22:00:00+00:00     AAP.N           ...                                NaN                 0.024433
3  2007-02-01 22:00:00+00:00    AAPL.O           ...                                NaN                -0.007425
4  2007-02-01 22:00:00+00:00     ABB.N           ...                                NaN                -0.017994

[5 rows x 16 columns]

In [5]:
df_news.head()

                        time            sourceTimestamp      ...       volumeCounts5D volumeCounts7D
0  2007-01-01 04:29:32+00:00  2007-01-01 04:29:32+00:00      ...                    6              7
1  2007-01-01 07:03:35+00:00  2007-01-01 07:03:34+00:00      ...                    3              3
2  2007-01-01 11:29:56+00:00  2007-01-01 11:29:56+00:00      ...                   11             17
3  2007-01-01 12:08:37+00:00  2007-01-01 12:08:37+00:00      ...                   13             15
4  2007-01-01 12:08:37+00:00  2007-01-01 12:08:37+00:00      ...                    0              0

[5 rows x 35 columns]