In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pylab as plt

In [2]:
cols = [
    'tourney_id', # Id of Tournament
    'tourney_name', # Name of the Tournament
    'surface', # Surface of the Court (Hard, Clay, Grass)
    'draw_size', # Number of people in the tournament
    'tourney_level', # Level of the tournament (A=ATP Tour, D=Davis Cup, G=Grand Slam, M=Masters)
    'tourney_date', # Start date of tournament
    'match_num', # Match number
    'winner_id', # Id of winner
    'winner_seed', # Seed of winner
    'winner_entry', # How the winner entered the tournament
    'winner_name', # Name of winner
    'winner_hand', # Dominant hand of winner (L=Left, R=Right, U=Unknown?)
    'winner_ht', # Height in cm of winner
    'winner_ioc', # Country of winner
    'winner_age', # Age of winner
    'winner_rank', # Rank of winner
    'winner_rank_points', # Rank points of winner
    'loser_id',
    'loser_seed',
    'loser_entry',
    'loser_name',
    'loser_hand',
    'loser_ht',
    'loser_ioc',
    'loser_age',
    'loser_rank',
    'loser_rank_points',
    'score', # Score
    'best_of', # Best of X number of sets
    'round', # Round
    'minutes', # Match length in minutes
    'w_ace', # Number of aces for winner
    'w_df', # Number of double faults for winner
    'w_svpt', # Number of service points played by winner
    'w_1stIn', # Number of first serves in for winner
    'w_1stWon', # Number of first serve points won for winner
    'w_2ndWon', # Number of second serve points won for winner
    'w_SvGms', # Number of service games played by winner
    'w_bpSaved', # Number of break points saved by winner
    'w_bpFaced', # Number of break points faced by winner
    'l_ace',
    'l_df',
    'l_svpt',
    'l_1stIn',
    'l_1stWon',
    'l_2ndWon',
    'l_SvGms',
    'l_bpSaved',
    'l_bpFaced'
]
df_matches = pd.concat([
    pd.read_csv('./data/atp_matches_2000.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2001.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2002.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2003.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2004.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2005.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2006.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2007.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2008.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2009.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2010.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2011.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2012.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2013.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2014.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2015.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2016.csv', usecols=cols),
    pd.read_csv('./data/atp_matches_2017.csv', usecols=cols),
])
df_matches = df_matches.dropna(subset=['tourney_date'])
df_matches['year'] = df_matches['tourney_date'].apply(lambda x: int(str(x)[0:4]))
display(df_matches.head())
print(len(df_matches))

  tourney_id tourney_name surface  draw_size tourney_level  tourney_date  match_num  winner_id  winner_seed winner_entry          winner_name winner_hand  ...   w_bpSaved w_bpFaced  l_ace  l_df  l_svpt  l_1stIn  l_1stWon l_2ndWon l_SvGms l_bpSaved  l_bpFaced  year
0   2000-717      Orlando    Clay       32.0             A    20000501.0        1.0   102179.0          NaN          NaN        Antony Dupuis           R  ...        14.0      15.0   13.0   4.0   110.0     59.0      49.0     31.0    17.0       4.0        4.0  2000
1   2000-717      Orlando    Clay       32.0             A    20000501.0        2.0   103602.0          NaN            Q    Fernando Gonzalez           R  ...         4.0       6.0    0.0   0.0    57.0     24.0      13.0     17.0    10.0       4.0        9.0  2000
2   2000-717      Orlando    Clay       32.0             A    20000501.0        3.0   103387.0          NaN          NaN  Paradorn Srichaphan           R  ...         0.0       0.0    2.0   2.0    65.0     39.0      22.0     10.0     8.0       6.0       10.0  2000
3   2000-717      Orlando    Clay       32.0             A    20000501.0        4.0   101733.0          NaN          NaN        Jan Siemerink           L  ...         9.0      12.0    4.0   6.0   104.0     57.0      35.0     24.0    15.0       6.0       11.0  2000
4   2000-717      Orlando    Clay       32.0             A    20000501.0        5.0   101727.0          4.0          NaN    Jason Stoltenberg           R  ...         1.0       1.0    0.0   3.0    47.0     28.0      17.0     10.0     8.0       3.0        6.0  2000

[5 rows x 50 columns]

53508

In [81]:
df_tmp = df_matches[
    (df_matches['year'] >= 2017)
]

cols = ['w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced']
df_point = df_tmp.loc[:, ['winner_name', 'score'] + cols]
df_point.loc[:, 'set_num'] = df_point.loc[:, 'score'].apply(lambda x: len(str(x).split(' ')))
for c in cols:
    df_point.loc[:, c+'_rate'] = df_point.loc[:, c]/df_point.loc[:, 'set_num']
cols = list(map(lambda x: x+'_rate', cols))
df_point = df_point.loc[:, ['winner_name'] + cols]
df_point = df_point.groupby('winner_name').sum()

df_match_num = df_tmp.groupby('winner_name').count().loc[:, ['tourney_id']]

df_tmp = pd.merge(df_point, df_match_num, on='winner_name')
for c in cols:
    df_tmp.loc[:, c] = df_tmp.loc[:, c]/df_tmp.loc[:, 'tourney_id']

df_tmp = df_tmp[df_tmp['tourney_id'] > 5]
df_tmp.groupby('winner_name').sum().sort_values('w_ace_rate', ascending=False)

                       w_ace_rate  w_df_rate  w_svpt_rate  w_1stIn_rate  w_1stWon_rate  w_2ndWon_rate  w_SvGms_rate  w_bpSaved_rate  w_bpFaced_rate  tourney_id
winner_name
Milos Raonic             6.694444   1.194444    28.847222     19.069444      15.055556       5.333333      4.833333        1.305556        1.694444           6
Gilles Muller            5.083333   0.888889    20.888889     13.138889      10.666667       4.250000      3.416667        0.527778        0.722222           6
Jo Wilfried Tsonga       4.833333   0.888889    27.194444     16.347222      13.583333       6.638889      4.652778        0.722222        0.916667           6
Roger Federer            3.869048   0.616667    28.364286     17.814286      13.973810       5.866667      4.821429        1.121429        1.638095           7
Stanislas Wawrinka       3.719048   0.980952    33.845238     20.045238      15.395238       8.080952      5.302381        1.552381        2.183333           7
Andy Murray              3.500000   0.738095    32.500000     20.119048      15.595238       6.214286      5.071429        0.761905        1.452381           7
Viktor Troicki           3.450000   1.066667    25.416667     15.933333      12.350000       4.366667      4.116667        1.100000        1.733333           6
Jack Sock                3.238095   1.309524    30.976190     19.000000      14.595238       6.428571      4.880952        1.214286        1.690476           7
Mischa Zverev            3.011111   1.002778    30.663889     20.475000      15.469444       5.169444      4.963889        1.436111        1.969444           6
Grigor Dimitrov          2.691667   0.608333    27.741667     17.466667      14.233333       5.716667      4.658333        1.591667        2.016667          10
Jordan Thompson          2.627778   0.533333    28.116667     18.038889      13.783333       5.116667      4.822222        0.988889        1.727778           6
Roberto Bautista Agut    1.648148   0.703704    28.694444     18.620370      13.787037       5.907407      4.712963        1.250000        1.805556           9
Daniel Evans             1.614583   0.885417    27.552083     15.833333      11.937500       6.062500      4.166667        1.291667        1.927083           8
Rafael Nadal             1.350000   0.560417    28.006250     19.929167      14.843750       5.177083      4.727083        1.102083        1.450000           8
Kei Nishikori            1.255556   0.416667    29.572222     19.127778      13.816667       6.077778      4.777778        1.177778        1.872222           6
Novak Djokovic           1.233333   0.942857    28.400000     18.880952      14.295238       5.004762      4.614286        1.257143        1.947619           7