In [14]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pylab as plt

In [26]:
names = []
status = []
for n in ['A', 'B', 'C']:
    n_step = np.random.randint(2, 5)
    for _ in range(n_step):
        s = str(np.random.randint(10))
        names.append(n)
        status.append(s)

df = pd.DataFrame({'name': names, 'status': status})
display(df)

def func(tb):
    tb['prev_status'] = tb['status'].shift(+1)
    tb['next_status'] = tb['status'].shift(-1)
    return tb

df = df.groupby(['name']).apply(func)
display(df)

  name status
0    A      4
1    A      5
2    A      4
3    B      2
4    B      7
5    C      8
6    C      7

  name status prev_status next_status
0    A      4         NaN           5
1    A      5           4           4
2    A      4           5         NaN
3    B      2         NaN           7
4    B      7           2         NaN
5    C      8         NaN           7
6    C      7           8         NaN

In [5]:
!python --version

Python 3.6.6 :: Anaconda, Inc.

In [4]:
!pip freeze | grep pandas

geopandas==0.4.0
pandas==0.23.4
pandas-datareader==0.7.0
pandas-profiling==1.4.1
pandas-summary==0.0.5
pandasql==0.7.3
sklearn-pandas==1.7.0